.container-grid {
  padding: 0 70px;
  @media screen and (max-width: $atom-screen-xs-min) {
    padding: 0 20px;
  }
}

.container-grid-right {
  padding: 0 15px 0 70px;
  @media screen and (max-width: $atom-screen-xs-min) {
    padding: 0 15px 0 20px;
  }
}

.container-grid-left {
  padding: 0 70px 0 15px;
  @media screen and (max-width: $atom-screen-xs-min) {
    padding: 0 20px 0 15px;
  }
}

.sectionOne {
  margin-top: 143px;
  .content-text {
    z-index: 1;
    .text {
      padding-top: 80px;
      margin-right: -70px;
      .title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 25px;
      }
    }
  }
  .content-image {
    padding: 60px 60px 20px 60px;
    .image {
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .contentColor {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 170px;
      z-index: 0;
    }
    .btn-down {
      position: absolute;
      bottom: 30px;
      left: -28px;
      border-radius: 3px;
      padding: 15px 20px;
    }
  }
}

.sectionSingle {
  animation-name: sectionSingle;
  margin-top: 0;
  @extend %forwards;
  @extend %opacity-0;
  animation-duration: 3s;
  animation-delay: 1.5s;
  @keyframes sectionSingle {
    from {opacity: 0; margin-top: 0}
    to {opacity: 1; margin-top: 143px;}
  }
  .textSection {
    padding-right: 100px;
    padding-top: 80px;
    .label {
      display: inline-block;
      padding: 5px 40px;
      border-radius: 3px;
    }
    .title {
      margin-bottom: 25px;
    }
    .title2 {
      margin-bottom: 50px;
    }
  }
  .imageContent {
    padding-right: 0;
    padding-top: 40px;
    .image {
      width: 100%;
      height: 400px;
    }
    .title {
      padding: 30px 0;
    }
  }
}

.organism-person{
  padding-left: 30px;
}

.sectionTwo , .sectionFive {
  .textSection {
    opacity: 0;
    .title {
      margin-bottom: 25px;
    }
    .title2 {
      margin-bottom: 50px;
    }
  }
  .imageContent{
    .image {
      opacity: 0;
      width: 80%;
      height: 500px;
      margin-left: -15px;
    }    
  }
}

.section-imageAnimation {
  .image {
    animation-name: imageAnimation;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.8s;
    @keyframes imageAnimation {
      from {width: 80%; opacity: 0;}
      to {width: 100%; opacity: 1;}
    }
  }
  .textSection {
    animation-name: textSection-animation;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    opacity: 0;
    padding-left: 20px;
    @keyframes textSection-animation {
      from {padding-left: 20px; opacity: 0;}
      to {padding-left: 50px; opacity: 1;}
    }
  }
}

.sectionThree {
  background: white;
  .contentText {
    padding-left: 50px;
    opacity: 0;
    .title {
      margin-bottom: 15px;
    }
    .btn-proyect {
      margin-top: 5px;
      display: inline-block;
    }
  }
  .contentImage {
    opacity: 0;
    .image {
      width: 70%;
      height: 300px;
      margin-right: -15px;
      float: right;
      opacity: 0;
    }
  }
}

.section3-animacion {
  animation-name: section3-animacion;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 0.5s;
  background: white;
  @keyframes section3-animacion {
    from {background: $atom-backgroundWhite;}
    to {background: $atom-backgroundBlack;}
  }
  .contentText {
    padding-left: 50px;
    opacity: 0;
    animation-name: contentText-animacion;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s;
    @keyframes contentText-animacion {
      from {opacity: 0; padding-left: 50px;}
      to {opacity: 1; padding-left: 15px;}
    }
  }
  .contentImage {
    opacity: 0;
    animation-name: sectionImage3-animacion;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 1s;
    @keyframes sectionImage3-animacion{
      from {opacity: 0;}
      to {opacity: 1;}
    }
    .image {
      animation-name: image3-animacion;
      width: 70%;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 1s;
      @keyframes image3-animacion{
        from {width: 70%; opacity: 0;}
        to { width: 100%; opacity: 1;}
      }
    }
  }
}

.sectionFour {
  .title-section {
    opacity: 0;
  }
}

.section4-animacion {
  .title-section {
    animation-name: title4-animacion;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0s;
    @keyframes title4-animacion {
      from {opacity:0;}
      to { opacity:1;}
    }
  }
  .moleculeBox-imageMask {
    animation-name: image4-animacion;
    opacity: 0;
    height: 380px;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    @keyframes image4-animacion {
      from {opacity:0;height:380px;}
      to { opacity:1;height:450px;}
    }
  }
}

.sectionSix {
  .title {
    opacity: 0;
    margin-top: -15px;
  }
  .logo {
    opacity: 0;
    margin-top: -15px;
  }
}

.section5-animacion {
  .title {
    animation-name: titleSection5-animacion;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    @keyframes titleSection5-animacion {
      from {opacity: 0; margin-top: -15px;}
      to { opacity: 1; margin-top: 0;}
    }
  }
  .logo {
    animation-name: logoSection5-animacion;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    @keyframes logoSection5-animacion {
      from {opacity: 0; margin-top: -15px;}
      to { opacity: 1; margin-top: 0;}
    }
  }
}

.active-opacity {
  opacity: 1;
}

.organisms-sectionBig {
  padding: 130px 0;
}

.organisms-section {
  padding: 50px 0;
  position: relative;
  @media screen and (max-width: $atom-screen-sm-min) {
    padding: 50px 0;
  }
  .container-title {
    .title {
      margin-bottom: 60px;
      @media screen and (max-width: $atom-screen-xs-min) {
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
}