.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.5s;
  z-index: 2;
  .nav-top {
    padding: 15px 0;
  }
  .nav {
    padding: 20px 0;
    .link-section {
      margin-right: 50px;
      padding-top: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}