
%button-style-general {
  border-radius: 3px;
}

%forwards {
  animation-fill-mode: forwards;
}

%opacity-0 {
  opacity: 0;
}

%time-1 {
  animation-duration: 1s;
  animation-delay: 1s;
}

%time-2 {
  animation-duration: 1s;
  animation-delay: 5s;
}

%time-3 {
  animation-duration: 2s;
  animation-delay: 5.3s;
}

%time-4 {
  animation-duration: 1s;
  animation-delay: 6s;
}
.navigation-animation {
  animation-name: nav-animation;
  margin-top: -20px;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-1;
  @keyframes nav-animation {
    from {opacity: 0; margin-top: -20px;}
    to {opacity: 1; margin-top: 0;}
  }
}
.sectionOne-animation {
  .title-animation {
    margin-left: -20px;
    letter-spacing: -10px;
    animation-name: title-animation;
    @extend %forwards;
    @extend %opacity-0;
    @extend %time-1;
    @keyframes title-animation {
      from {opacity: 0; margin-left: -20px; letter-spacing: 0px;}
      to {opacity: 1; margin-left: 0; letter-spacing: 1px;}
    }
  }
  .parrafo-animation  {
    padding-top: 20px;
    animation-name: parrafo-animation;
    @extend %forwards;
    @extend %opacity-0;
    @extend %time-1;
    @keyframes parrafo-animation {
      from {opacity: 0; padding-top: 20px;}
      to {opacity: 1; padding-top: 0;}
    }
  }
  .content-colorAnimation {
    animation-name: color-animation;
    @extend %forwards;
    @extend %opacity-0;
    @extend %time-1;
    @keyframes color-animation {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    .content-rightAnimation {
      width: 0;
      @extend %forwards;
      @extend %time-1;
      animation-name: right-animation;
      @keyframes right-animation {
        0%   {width: 0;}
        25%  {width: 25;}
        50%  {width: 50;}
        75%  {width: 75;}
        100% {width: 100%;}
      }
    }
    .btnAnimation {
      animation-name: color-animation;
      @extend %forwards;
      @extend %opacity-0;
      animation-duration: 1s;
      animation-delay: 6s;
      @keyframes color-animation {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      .flecha {
        animation-name: flecha-opacity;
        @extend %opacity-0;
        animation-delay: 6s;
        animation: flecha-opacity 2s infinite;
        @keyframes flecha-opacity {
          from {opacity: 0;}
          to {opacity: 1;}
        }
      }
    }
  }
}
.calles {
  @extend %forwards;
  @extend %opacity-0;
  animation-name: callesanimation;
  animation-duration: 1s;
  animation-delay: 2s;
    @keyframes callesanimation {
      from {opacity: 0; transform: translate(68.000000px, 150.000000px);}
      to {opacity: 1; transform: translate(68.000000px, 141.000000px);}
    }
}
.edificios {
  @extend %forwards;
  @extend %opacity-0;
  .arbol1 ,.arbol2 {
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
.edificio1 {
  animation-name: edificio1-animation;
  animation-duration: 1s;
  animation-delay: 2.5s;
  @keyframes edificio1-animation {
    from {opacity: 0; transform: translate(65.072144px, 122.897057px);}
    to {opacity: 1; transform: translate(65.072144px, 132.897057px);}
  }
  .arbol1 {
    animation-name: arbol1-animation;
    @extend %time-2;
    @keyframes arbol1-animation {
      from {opacity: 0; transform: translate(0.000000px, 57.972596px);}
      to {opacity: 1; transform: translate(0.000000px, 47.972596px);}
    }
  }
  .arbol2 {
    @extend %time-2;
    animation-name: arbol2-animation;
    @keyframes arbol2-animation {
      from {opacity: 0; transform: translate(91.101001px, 47.600143px);}
      to {opacity: 1; transform: translate(91.101001px, 37.600143px);}
    }
  }
}
.edificio10 {
  animation-name: edificio10-animation;
  animation-duration: 1s;
  animation-delay: 2.7s;
  @keyframes edificio10-animation {
    from {opacity: 0; transform: translate(226.451060px, 0.779340px);}
    to {opacity: 1; transform: translate(226.451060px, 7.779340px);}
  }
}
.edificio11 {
  animation-name: edificio11-animation;
  animation-duration: 1s;
  animation-delay: 2.9s;
  @keyframes edificio11-animation {
    from {opacity: 0; transform: translate(79.388015px, 209.118075px);}
    to {opacity: 1; transform: translate(79.388015px, 219.118075px);}
  }
  .arbol1 {
    animation-name: arbol11-animation;
    @extend %time-2;
    @keyframes arbol11-animation {
      from {opacity: 0; transform: translate(0.000000px, 51.213988px);}
      to {opacity: 1; transform: translate(0.000000px, 51.213988px);}
    }
  }
}
.edificio2 {
  animation-name: edificio2-animation;
  animation-duration: 1s;
  animation-delay: 3.1s;
  @keyframes edificio2-animation {
    from {opacity: 0; transform: translate(494.548292px, 116.414274px);}
    to {opacity: 1; transform: translate(494.548292px, 126.414274px);}
  }
  .arbol1 {
    animation-name: arbol2-animation;
    @extend %time-2;
    @keyframes arbol2-animation {
      from {opacity: 0; transform: translate(81.340180px, 92.331348px);}
      to {opacity: 1; transform: translate(81.340180px, 82.331348px);}
    }
  }
}
.edificio3 {
  animation-name: edificio3-animation;
  animation-duration: 1s;
  animation-delay: 3.3s;
  @keyframes edificio3-animation {
    from {opacity: 0; transform: translate(171.790459px, 68.441678px);}
    to {opacity: 1; transform: translate(171.790459px, 78.441678px);}
  }
}
.edificio4 {
  animation-name: edificio4-animation;
  animation-duration: 1s;
  animation-delay: 3.5s;
  @keyframes edificio4-animation {
    from {opacity: 0; transform: translate(0.000000px, 91.131419px);}
    to {opacity: 1; transform: translate(0.000000px, 101.131419px);}
  }
  .arbol1 {
    animation-name: arbol41-animation;
    @extend %time-2;
    @keyframes arbol41-animation {
      from {opacity: 0; transform: translate(0.000000px, 150.028119px);}
      to {opacity: 1; transform: translate(0.000000px, 140.028119px);}
    }
  }
}
.edificio5 {
  animation-name: edificio5-animation;
  animation-duration: 1s;
  animation-delay: 3.9s;
  @keyframes edificio5-animation {
    from {opacity: 0; transform: translate(395.638634px, 12.689742px);}
    to {opacity: 1; transform: translate(395.638634px, 22.689742px);}
  }
  .arbol1 {
    animation-name: arbol5-1-animation;
    @extend %time-2;
    @keyframes arbol5-1-animation {
      from {opacity: 0; transform: translate(0.000000px, 209.021447px);}
      to {opacity: 1; transform: translate(0.000000px, 199.021447px);}
    }
  }
  .arbol2 {
    animation-name: arbol5-2-animation;
    @extend %time-2;
    @keyframes arbol5-2-animation {
      from {opacity: 0; transform: translate(121.684909px, 216.800787px);}
      to {opacity: 1; transform: translate(121.684909px, 206.800787px);}
    }
  }
}
.edificio6 {
  animation-name: edificio6-animation;
  animation-duration: 1s;
  animation-delay: 4.1s;
  @keyframes edificio6-animation {
    from {opacity: 0; transform: translate(332.518654px, -10.000000px);}
    to {opacity: 1; transform: translate(332.518654px, 0.000000px);}
  }
}
.edificio7 {
  animation-name: edificio7-animation;
  animation-duration: 1s;
  animation-delay: 4.3s;
  @keyframes edificio7-animation {
    from {opacity: 0; transform: translate(209.532303px, 213.007745px);}
    to {opacity: 1; transform: translate(209.532303px, 223.007745px);}
  }
  .arbol1 {
    animation-name: arbol7-animation;
    @extend %time-2;
    @keyframes arbol7-animation {
      from {opacity: 0; transform: translate(0.000000px, 137.710831px);}
      to {opacity: 1; transform: translate(0.000000px, 127.710831px);}
    }
  }
}
.edificio8 {
  animation-name: edificio8-animation;
  animation-duration: 1s;
  animation-delay: 4.5s;
  @keyframes edificio8-animation {
    from {opacity: 0; transform: translate(303.886911px, 41.213988px);}
    to {opacity: 1; transform: translate(303.886911px, 51.213988px);}
  }
  .arbol1 {
    animation-name: arbol8-animation;
    @extend %time-2;
    @keyframes arbol8-animation {
      from {opacity: 0; transform: translate(8.459379px, 281.628620px);}
      to {opacity: 1; transform: translate(8.459379px, 271.628620px);}
    }
  }
}
.coche1 {
  animation-name: coche1-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-3;
  @keyframes coche1-animation {
    from {opacity: 0; transform: translate(199.000000px, 335.000000px);}
    to {opacity: 1; transform: translate(199.000000px, 325.000000px);}
  }
}
.coche2 {
  animation-name: coche2-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-3;
  @keyframes coche2-animation {
    from {opacity: 0; transform: translate(351.000000px, 456.000000px);}
    to {opacity: 1; transform: translate(351.000000px, 446.000000px);}
  }
}
.aerogenerador {
  animation-name: aerogenerador-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-3;
  @keyframes aerogenerador-animation {
    from {opacity: 0; transform: translate(51.000000px, 364.000000px);}
    to {opacity: 1; transform: translate(51.000000px, 354.000000px);}
  }
}
.elicoptero {
  animation-name: elicoptero-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-3;
  @keyframes elicoptero-animation {
    from {opacity: 0; transform: translate(311.000000px, 51.000000px);}
    to {opacity: 1; transform: translate(311.000000px, 21.000000px);}
  }
}
.avion {
  animation-name: avion-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-3;
  @keyframes avion-animation {
    from {opacity: 0; transform: translate(181.000000px, 56.000000px);}
    to {opacity: 1; transform: translate(151.000000px, 56.000000px);}
  }
}
.anuncio-ubicacion {
  animation-name: anuncioUbicacion-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioUbicacion-animation {
    from {opacity: 0; transform: translate(644.685192px, 259.362048px);}
    to {opacity: 1; transform: translate(644.685192px, 269.362048px);}
  }
}
.anuncio-energia {
  animation-name: anuncioEnergia-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioEnergia-animation {
    from {opacity: 0; transform: translate(153.527452px, 138.836880px);}
    to {opacity: 1; transform: translate(153.527452px, 148.836880px);}
  }
}
.anuncio-coche {
  animation-name: anuncioCoche-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioCoche-animation {
    from {opacity: 0; transform: translate(444.318856px, 414.230411px);}
    to {opacity: 1; transform: translate(444.318856px, 424.230411px);}
  }
}
.anuncio-wife {
  animation-name: anuncioWife-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioWife-animation {
    from {opacity: 0; transform: translate(69.607786px, 105.141671px);}
    to {opacity: 1; transform: translate(69.607786px, 115.141671px);}
  }
}
.anuncio-rayo {
  animation-name: anuncioRayo-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioRayo-animation {
    from {opacity: 0; transform: translate(0.000000px, 342.952085px);}
    to {opacity: 1; transform: translate(0.000000px, 352.952085px);}
  }
}
.anuncio-comunicacion {
  animation-name: anuncioComunicacion-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioComunicacion-animation {
    from {opacity: 0; transform: translate(173.694194px, 7.295970px);}
    to {opacity: 1; transform: translate(173.694194px, 17.295970px);}
  }
}
.anuncio-elevador {
  animation-name: anuncioElevador-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioElevador-animation {
    from {opacity: 0; transform: translate(491.157739px, 26.087528px);}
    to {opacity: 1; transform: translate(491.157739px, 36.087528px);}
  }
}
.anuncio-dinero {
  animation-name: anuncioDinero-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioDinero-animation {
    from {opacity: 0; transform: translate(389.431592px, 0.000000px);}
    to {opacity: 1; transform: translate(399.431592px, 0.000000px);}
  }
}
.anuncio-camaras {
  animation-name: anuncioCamaras-animation;
  @extend %forwards;
  @extend %opacity-0;
  @extend %time-4;
  @keyframes anuncioCamaras-animation {
    from {opacity: 0; transform: translate(573.125786px, 133.005017px);}
    to {opacity: 1; transform: translate(573.125786px, 143.005017px);}
  }
}

.twoImage {
  margin: 50px 0;
  .image {
    width: 45%;
    height: 160px;
    display: inline-block
  }
}

.organisms-repositorio {
  padding: 30px;
  border-top: solid 1px $atom-colorGray;
  .cont {
    padding: 20px 30px;
    border-radius: 6px;
    .image-logo {
      width: 100px;
      display: inline-block;
    }
    .information {
      margin-top: 15px;
      width: calc(100% - 135px);
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
      >.title-rep {
        margin-bottom: 5px;
      }
    }    
  }
}

.organisms-logos {
  .logo {
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .logo1 {
    width: 120px;
  }
  .logo2 {
    width: 90px;
  }
  .logo3 {
    width: 150px;
  }
}