/*
|--------------------------------------------------------------------------
| Extend background
|--------------------------------------------------------------------------
*/

%background-primary {
  background: $atom-backgroundPrimary;
}

%background-primaryOpacity {
  background: rgba($atom-backgroundPrimary,.6);
}

%background-secundary {
  background: $atom-backgroundSecundary;
}

%background-black {
  background: $atom-backgroundBlack;
}

%background-blackOpacity {
  background: rgba($atom-backgroundBlack,.7);
}

%background-white {
  background: $atom-colorWhite;
}

%background-gray {
  background: $atom-backgroundGray;
}

%background-opacity1 {
  opacity: 0.7;
}

/*
|--------------------------------------------------------------------------
| Extend color
|--------------------------------------------------------------------------
*/

%color-primary {
  color: $atom-colorPrimary;
}

%color-secundary {
  color: $atom-colorSecundary;
}

%color-colorWhite {
  color: $atom-colorWhite;
}

%color-colorWhite-opacity1 {
  color: rgba($atom-colorWhite, .6);
}

%color-colorGray {
  color: $atom-colorGray;
}

%color-colorBlack {
  color: $atom-colorBlack;
}

%color-colorBlack-opacity1 {
  color: rgba($atom-colorBlack, .55);
}
/*
|--------------------------------------------------------------------------
| Extend Borders
|--------------------------------------------------------------------------
*/

%border-solidThin {
  border: $atom-borderSolid-thin;
}

%border-solidNone {
  border: $atom-borderSolid-none;
}

%border-colorWhite {
  border-color: $atom-colorWhite;
}

%border-colorPrimary {
  border-color: $atom-colorPrimary;
}

%border-colorSecundary {
  border-color: $atom-colorSecundary;
}

%border-colorGray {
  border-color: $atom-colorGray;
}

/*
|--------------------------------------------------------------------------
| Extend Position
|--------------------------------------------------------------------------
*/
%position-absoluteFull-Topleft {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

/*
|--------------------------------------------------------------------------
| Styles
|--------------------------------------------------------------------------
*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-size: $atom-fontSize-h-1;
}

h2 {
  font-size: $atom-fontSize-h-2;
}

h3 {
  font-size: $atom-fontSize-h-3;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
img {
  color: transparent;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container-changue {
  @media screen and (min-width: $atom-screen-gd-min) {
    padding: 0 180px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
  }
}
@media screen and (max-width: $atom-screen-sm-min) {
  .container {
    padding: 0 25px;
  }
} 


.list-inline {
  margin-left: 0;
  li {
    display: inline-block;
  }
}
.titleCenter {
  margin-bottom: 80px;
  padding: 0 150px;
}
/*
|--------------------------------------------------------------------------
| atomos modificador background
|--------------------------------------------------------------------------
*/

.atomBackground-primary {
  @extend %background-primary;
}

.atomBackground-primaryOpacity {
  @extend %background-primaryOpacity;
}

.atomBackground-secundary {
  @extend %background-secundary;
}

.atomBackground-white {
  @extend %background-white;
}

.atomBackground-gray {
  @extend %background-gray;
}
 
.atomBackground-black {
  @extend %background-black;
}

.atomBackground-white-opacity1 {
  @extend %background-white;
  @extend %background-opacity1;
}

.atomBackground-black-opacity {
  @extend %background-blackOpacity;
}
/*
|--------------------------------------------------------------------------
| atomos modificador color
|--------------------------------------------------------------------------
*/

.atomColor-primary {
  @extend %color-primary;
}

.atomColor-secundary {
  @extend %color-secundary;
}

.atomColor-white {
  @extend %color-colorWhite;
}

.atomColor-gray {
  @extend %color-colorGray;
}

.atomColor-whiteOpacity1 {
  @extend %color-colorWhite-opacity1;
}

.atomColor-Black {
  @extend %color-colorBlack;
}

.atomColor-blackOpacity1 {
  @extend %color-colorBlack-opacity1;
}
/*
|--------------------------------------------------------------------------
| atomos modificador border
|--------------------------------------------------------------------------
*/
.atomBorder-solidThin {
  @extend %border-solidThin;
}

.atomBorder-solidNone {
  @extend %border-solidNone;
}

.atomBorder-colorWhite {
  @extend %border-colorWhite;
}

.atomBorder-colorGray {
  @extend %border-colorGray;
}

.atomBorder-colorPrimary {
  @extend %border-colorPrimary;
}

.atomBorder-colorSecundary {
  @extend %border-colorSecundary;
}