/*
|--------------------------------------------------------------------------
| Paddings
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Buttons
	|--------------------------------------------------------------------------
	*/
	$atom-paddingButton-small:		10px 30px;
	$atom-paddingButton-medium:		14px 34px;
	$atom-paddingButton-big:		14px 40px;

	$atom-paddingInput-small: 		9px 15px;
	$atom-paddingInput-medium:		7px 10px;
	$atom-paddingInput-smallIcon: 	7px 15px 7px 35px;
	$atom-paddingInput-mediumIcon: 	12px 18px 12px 38px;