/*
|--------------------------------------------------------------------------
| backgrounds
|--------------------------------------------------------------------------
*/
$atom-backgroundWhite:									#ffffff;
$atom-backgroundBlack:									#092823;
$atom-backgroundGray:									#F2F4F4;

$atom-backgroundPrimary:								#70133B;
$atom-backgroundSecundary:								#BD986B;