/*
|--------------------------------------------------------------------------
| typographys
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| src typographys
	|--------------------------------------------------------------------------
	*/
		@font-face {
		  font-family: 'ubuntu-bold';
		  src: url('Ubuntu Bold'),
		  local('ubuntu-bold'),
		  url('../fonts/ubuntu/ubuntu-bold.ttf');
		}
		@font-face {
		  font-family: 'ubuntu-light';
		  src: url('Ubuntu Light'),
		  local('ubuntu-light'),
		  url('../fonts/ubuntu/ubuntu-light.ttf');
		}
		@font-face {
		  font-family: 'ubuntu-medium';
		  src: url('Ubuntu Medium'),
		  local('ubuntu-Medium'),
		  url('../fonts/ubuntu/ubuntu-medium.ttf');
		}
		@font-face {
		  font-family: 'ubuntu-regular';
		  src: url('Ubuntu Regular'),
		  local('ubuntu-regular'),
		  url('../fonts/ubuntu/ubuntu-regular.ttf');
		}
		@font-face {
		  font-family: 'lato-regular';
		  src: local('Lato Regular'),
		  local('lato-regular'),
		  url('../fonts/lato/lato-regular.ttf');
		}
		@font-face {
		  font-family: 'lato-light';
		  src: local('Lato Light'),
		  local('lato-light'),
		  url('../fonts/lato/lato-light.ttf');
		}
	/*
	|--------------------------------------------------------------------------
	| variables typographys
	|--------------------------------------------------------------------------
	*/
	$atom-typographyPrimary:				'ubuntu-regular';
	$atom-typoPrimary-semibold:	 			'ubuntu-semibold';
	$atom-typoPrimary-bold:	 				'ubuntu-bold';
	$atom-typoPrimary-medium:				'ubuntu-medium';
	$atom-typoPrimary-light:				'ubuntu-light';
	$atom-typographySecundary:				'lato-regular';
	$atom-typoSecundary-light:		        'lato-light';