/*
|--------------------------------------------------------------------------
| colors
|--------------------------------------------------------------------------
*/
$atom-colorWhite:									#fff;
$atom-colorBlack:									#092823;
$atom-colorGray:									#F2F4F4;

$atom-colorPrimary:									#70133B;
$atom-colorSecundary:								#BD986B;
$atom-colorThird:									#2A3E64;
