/*
|--------------------------------------------------------------------------
| Boxes
|--------------------------------------------------------------------------
*/

.centerLeft-top-right-bottom {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-bottom: 0;
  padding-left: 10px;
  display: inline-block;
  text-align: left;
}

.moleculeBox-imageMask {
  position: relative;
  opacity: 0;
  height: 380px;
  .mask {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .textBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    .label {
      margin-bottom: 10px;
      display: inline-block;
      padding: 5px 15px 5px 30px;
      margin-left: -30px;
    }
    .title {
      padding-right: 50px;
    }
  }
}

.molecule-person {
  padding-bottom: 30px;
  .image-person {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px $atom-colorSecundary;
  }
  .information {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 20px;
  }
}