/*
|--------------------------------------------------------------------------
| Titles
|--------------------------------------------------------------------------
*/
%title-big {
	letter-spacing: 1px;
}

%title-median {
  letter-spacing: 0.9px;
  line-height: 32px;
}

%title-small {
	letter-spacing: 0.5px;
}
%title-bold {
	font-family: $atom-typoPrimary-bold;
}

%title-semibold {
	font-family: $atom-typoPrimary-semibold;
}

%title-medium {
	font-family: $atom-typoPrimary-medium;
}

%title-regular {
	font-family: $atom-typographyPrimary;
}

%title-light {
	font-family: $atom-typoPrimary-light;
}

.moleculeTitle-bold-big {
	@extend %title-big;
	@extend	%title-bold;
}

.moleculeTitle-bold-medium {
	@extend %title-median;
	@extend	%title-bold;
}

.moleculeTitle-bold-small {
	@extend %title-small;
	@extend	%title-bold;
}

.moleculeTitle-semibold-big {
	@extend %title-big;
	@extend	%title-semibold;
}

.moleculeTitle-semibold-medium {
	@extend %title-median;
	@extend	%title-semibold;
}

.moleculeTitle-semibold-small {
	@extend %title-small;
	@extend	%title-semibold;
}

.moleculeTitle-medium-big {
	@extend %title-big;
	@extend	%title-medium;
}

.moleculeTitle-medium-medium {
	@extend %title-median;
	@extend	%title-medium;
}

.moleculeTitle-medium-small {
	@extend %title-small;
	@extend	%title-medium;
}

.moleculeTitle-regular-big {
	@extend %title-big;
	@extend	%title-regular;
}

.moleculeTitle-regular-medium {
	@extend %title-median;
	@extend	%title-regular;
}

.moleculeTitle-regular-small {
	@extend %title-small;
	@extend	%title-regular;
}

.moleculeTitle-light-big {
	@extend %title-big;
	@extend	%title-light;
}

.moleculeTitle-light-medium {
	@extend %title-median;
	@extend	%title-light;
}

.moleculeTitle-light-small {
	@extend %title-small;
	@extend	%title-light;
}