/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
%text-buttonBig {
  letter-spacing: 0.8px;
  font-size: $atom-fontSize-slarge;
}

%text-buttonMedian {
  letter-spacing: 0.5px;
  font-size: $atom-fontSize;
}

%text-buttonSmall {
  letter-spacing: 0.3px;
  font-size: $atom-fontSize-xsmall;
}

%padding-buttonSmall {
  padding: $atom-paddingButton-small;
}

%padding-buttonMedium {
  padding: $atom-paddingButton-medium;
}

%padding-buttonBig {
  padding: $atom-paddingButton-big;
}

%button-style-general {
  border-radius: 3px;
}

.moleculeButton-big {
  @extend %text-buttonBig;
  @extend %padding-buttonBig;
  @extend %button-style-general;
}

.moleculeButton-medium {
  @extend %text-buttonMedian;
  @extend %padding-buttonMedium;
  @extend %button-style-general;
}

.moleculeButton-small {
  @extend %text-buttonSmall;
  @extend %padding-buttonSmall;
  @extend %button-style-general;
}